PROJECT_NAME=pocket-astro
MODE=static
ENCRYPTION_KEY=
TZ=UTC

PB_VERSION=0.40.4
PB_BIND=127.0.0.1
PB_PORT=8090

ASTRO_BIND=127.0.0.1
ASTRO_PORT=4321
SITE_URL=http://localhost:8090
BUILD_DELAY=3000

DOMAIN=
ACME_EMAIL=
